@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import "tailwindcss";

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.bg-img {
  background: url("/img/pngs/imgs\ \(1\).jpg") center/cover no-repeat;
}

.bg-btn {
  background: url("/img/svgs/Asset\ 8.svg") center/cover no-repeat;
}

.bg-btn2 {
  background: url("/img/svgs/Asset 14.svg") center/cover no-repeat;
}
.bg-btn3 {
  background: url("/img/svgs/Asset 18.svg") center/cover no-repeat;
}

.bg-green {
  background: #036a3b;
  height: 73vh;
  background: url("./assets/img/pngs/boxes.png") center/cover no-repeat;
}

.bg-green-img {
  background: #036a3b;
  background: url("/img/pngs/imgs\ \(1\).jpg") center/cover no-repeat;
  clip-path: polygon(0 8%, 99% 0, 100% 100%, 2% 100%);
}

.bg-green-fot {
  background: url("/img/pngs/footer.png") center/cover no-repeat;
}

/* 1561 */
@media screen and (width>=1338px) {
  .bg-green {
    height: 90vh;
  }
}

@media screen and (width>=1561px) {
  .bg-green {
    height: 105vh;
  }
}

/* 1848 */
@media screen and (width>=1848px) {
  .bg-green {
    height: 118vh;
  }
}

/* 2075 */
@media screen and (width>=2075px) {
  .bg-green {
    height: 130vh;
  }
}

/* 1100 */
@media screen and (width<=1100px) {
  .bg-green {
    height: 78vh;
  }
}

/* 1043 */
@media screen and (width<=1043px) {
  .bg-green {
    height: 68vh;
    width: 96%;
  }
}

@media screen and (width>=820px) {
  .gg {
    display: none;
  }
}

/* 819 */
@media screen and (width<=819px) {
  .gg {
    display: block;
  }
  .bg-green {
    display: none;
  }
}
